Flask==0.9
Jinja2==2.6
SQLAlchemy==0.7.9
Werkzeug==0.8.3
gunicorn==0.16.1
ipython==0.13.1
newrelic==1.8.0.13
nose==1.2.1
psycopg2==2.4.5
python-termstyle==0.1.10
rednose==0.3.3
requests==0.14.2
wsgiref==0.1.2
