<form class="{% if not form.active %}hide {% endif %}course-signup-form form-horizontal" action="/group-fitness/{{ course.slug }}/register" method="post">
    <fieldset>
        <legend>Register for {{ course.name }}</legend>
        {% for field in form.hidden_fields %}
        {% if field.errors %}
        <div class="control-group error">
            <div class="controls">
                <span class="help-inline">{{ field.description }} is {{ field.errors[0] }}</span>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for field in form.fields %}
        {% if field.help %}
            <div class="control-group">
                <div class="controls">
                    <span class="payment-help">{{ field.help }}</span>
                </div>
            </div>
        {% endif %}
        <div class="control-group {{ field.name }}_field{% if field.errors %} error{% endif %}">
            {% if field.checkbox %}
                <div class="controls">
                    <label class="checkbox">
                        <input value="1"{% if field.value %} checked="checked"{% endif %} type="checkbox" name="{{ field.name }}">
                        {{ field.description }}
                    </label>
                    <input type="hidden" name="{{ field.name }}" value="0">
                </div>
            {% else %}
                <label class="control-label" for="{{ field.name }}">{{ field.description }}</label>
                <div class="controls">
                    {% if field.options %}
                        {% for name, description in field.options %}
                        <label class="radio inline options">
                            <input value="{{ name }}"{% if field.value == name %} checked="checked"{% endif %} type="{% if field.multiple %}checkbox{% else %}radio{% endif %}" name="{{ field.name }}">
                            {{ description }}
                        </label>
                        {% endfor %}
                        <input type="hidden" name="{{ field.name }}" value="">
                    {% else %}
                        <input value="{{ field.value }}" type="text" name="{{ field.name }}">
                    {% endif %}
                    <span class="help-inline">
                        {% if field.errors %}
                        {{ field.errors[0] }}
                        {% elif field.required %}
                        required
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        {% include "paypal.html" %}
        {% include "in_person.html" %}
        <div class="form-actions">
            <input type="submit" value="Sign Me Up!" class="btn btn-green submit-button">
            <a href="/group-fitness" class="no-signup">Not yet</a>
        </div>
    </fieldset>
</form>

