<div class="course">
    <div class="course-info">
        <h2 class="course-name">{{ course.name }} <small>{% for cost in course.costs %}{{ cost|currency }}{% if not loop.last %} / {% endif %}{% endfor %}</small></h2>
    </div>
    <div class="course-info-long">
        <div class="course-description">
            <p class="course-schedule">
                {% for day in course.days %}
                <strong>{{ day.name }}</strong>{% if not course.same_time_each_day() or loop.last %}
                from <strong>{{ day.start_time }}</strong> to <strong>{{ day.end_time }}</strong>{% endif %}{% if loop.revindex0 == 1 %} and{% elif not loop.last %},{% endif %}
                {% endfor %}
                starting <strong>{{ course.start_date }}</strong> and ending <strong>{{ course.end_date }}</strong> at <strong>{{ course.location }}</strong>.
            </p>
            {% if course.note %}
            <p class="course-note">{{ course.note }}</p>
            {% endif %}
            {% if course.drop_in_open %}
            <p class="course-drop-in">
            This class is open for drop-ins at {{ course.drop_in_fee|currency }} per class.
            </p>
            {% endif %}
            <p class="course-text">
                {{ course.description|safe }}
            </p>
            <p class="course-signup">
                {% if not hide_signup and course.has_space %}
                <button class="{% if form.active %}hide {% endif %}signup btn btn-green">Sign Me Up!</button>
                {% elif not course.has_space %}
                <p class="course-full">
                This course is full. Sorry&mdash;no drop-ins. Be sure to sign up
                for our other classes before
                they fill up!
                </p>
                {% endif %}
            </p>
        </div>
        <div class="course-map">
            <a href="{{ course.map_url }}" target="_blank">
                <img src="{{ course.map_image }}" alt="{{ course.location }}">
                View larger map
            </a>
        </div>
    </div>
    {% if not hide_signup %}
    <div class="course-signup">
        {% if course.has_space %}
        {% include "course_signup.html" %}
        {% endif %}
    </div>
    {% endif %}
</div>
