<div class="course">
    <div class="course-info">
        <h2 class="course-name">{{ course.name }} <small>{{ course.cost|currency }}{% if course.half_cost %} / {{ course.half_cost|currency }}{% endif %}</small></h2>
    </div>
    <div class="course-info-long">
        <div class="course-description">
            <div class="course-schedule">
                {% if course.days[0].same_time_as(course.days[1]) %}
                <strong>{{ course.days[0].name }}</strong> and
                {% else %}
                <strong>{{ course.days[0].name }}</strong> from <strong>{{ course.days[0].start_time }}</strong> to <strong>{{ course.days[0].end_time }}</strong> and
                {% endif %}
                <strong>{{ course.days[1].name }}</strong> from <strong>{{ course.days[1].start_time }}</strong> to <strong>{{ course.days[1].end_time }}</strong>
                starting <strong>{{ course.start_date }}</strong> and ending <strong>{{ course.end_date }}</strong> at <strong>{{ course.location }}</strong>.
            </div>
            {{ course.description }}
            {% if not hide_signup and course.has_space %}
            <button class="{% if form.active %}hide {% endif %}signup btn btn-green">Sign Me Up!</button>
            {% endif %}
        </div>
        <div class="course-map">
            <a href="{{ course.map_url }}" target="_blank">
                <img src="{{ course.map_image }}" alt="{{ course.location }}">
                View larger map
            </a>
        </div>
    </div>
    {% if not hide_signup %}
    <div class="course-signup">
        {% if course.has_space %}
        {% include "course_signup.html" %}
        {% else %}
        This course is full. Be sure to sign up for our other classes before
        they fill up!
        {% endif %}
    </div>
    {% endif %}
</div>
