{% extends "layout.html" %}

{% block content %}
<h1>Group Fitness</h1>

<div class="section-description">
    Working out in a group is a great way to reach your fitness goals while
    connecting with other people who are passionate about their bodies. Whether
    you are a long time step class superstar or just starting a new fitness
    routine, Sweat It Out has a class that will challenge, motivate and move
    you! Taught by one of our friendly, energetic and fully certified
    instructors, Group Fitness classes will have you having fun and sweating it
    out!
</div>

<div class="courses">
    <div class="course">
        {% include "course.html" %}
        <div class="course-signup">
            {% if course.has_space %}
            {% include "course_signup.html" %}
            {% else %}
            The course is full. Be sure to sign up for our other classes before
            they fill up!
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
