{% extends "layout.html" %}

{% block content %}
<h1>Group Fitness</h1>

<div class="section-description">
    Working out in a group is a great way to reach your fitness goals while
    connecting with other people who are passionate about their bodies. Whether
    you are a long time step class superstar or just starting a new fitness
    routine, Sweat It Out has a class that will challenge, motivate and move
    you! Taught by one of our friendly, energetic and fully certified
    instructors, Group Fitness classes will have you having fun and sweating it
    out!
</div>

{% if upcoming_courses %}
    <div class="courses">
        <h3>Upcoming Courses</h3>
        {% for course, form in upcoming_courses %}
        {% include "course.html" %}
        {% endfor %}
    </div>
{% endif %}
{% if active_courses %}
    <div class="courses">
        <h3>Current Courses</h3>
        {% for course, form in active_courses %}
        {% include "course.html" %}
        {% endfor %}
    </div>
{% endif %}
{% if not upcoming_courses and not active_courses %}
<p>
    We aren't offering any classes right now, check back later to come get
    sweaty with us!
</p>
{% endif %}
{% endblock %}
