{% extends "layout.html" %}

{% block content %}
<div class="welcome">
    <div class="mission">
        <h1>
            Welcome to Sweat It Out Fitness<br>
            <small>move. work. sweat it out.</small>
        </h1>
        <h2>Sweat It Out Fitness's Second Chance New Year's Resolution Bootcamp!</h2>
        <p>
            Did you have good intentions this New Year's, this year you were
            going to join a gym, get fit, be healthier. February is creeping up
            on us, have you started yet? Don’t wait till next year! Come out to
            the Polo Park Revive Fitness location and Sweat It Out! It’s not
            too late! Sign up Today!
            <div class="im-in">
                <a href="/group-fitness" class="btn btn-green btn-large">
                    Make me sweaty
                </a>
            </div>
        </p>
    </div>
    <div class="logo">
        <img src="/static/images/logo.png">
    </div>
</div>
<div class="home-extras">
    <div class="like-us">
        Like us on Facebook to connect with other sweaty people for inspiration and motivation.
        <a href="http://www.facebook.com/SweatItOutFitness" class="btn btn-primary">
            Like us on Facebook
        </a>
    </div>
    <div class="newsletter">
        Sign up for our newsletter to stay connected to monthly workout ideas and delicious recipes.
        <a href="http://eepurl.com/ofHY5" class="btn btn-pink">
            Get the Newsletter
        </a>
    </div>
    <div class="consultation">
        Book a free one-on-one personal training consultation with Emily or Jenna to maximize your results.
        <a href="/instructors" class="btn btn-blue">
            Book a Session
        </a>
    </div>
    <div class="follow-us">
        Follow us on Twitter to connect and share ideas with sweaty folks around the world.
        <a href="http://twitter.com/SweatItOutFit" class="btn btn-primary">
            Follow us on Twitter
        </a>
    </div>
</div>
{% endblock %}
