{% extends "layout.html" %}

{% block content %}
<div class="welcome">
    <div class="mission">
        <h1>
            Welcome to Sweat It Out Fitness<br>
            <small>move. work. sweat it out.</small>
        </h1>
        <h2>Register for our New Year's Resolution Bootcamp</h2>
        <p>
            Our first bootcamp of 2013 starts on January 7<sup>th</sup>.
            Come out and get sweaty while Emily and Jenna lead you through an
            hour of plyometrics, resistance training and cardio designed to
            blast away those extra holiday pounds. <strong>Start 2013 off sweaty!</strong>
            <div class="im-in">
                <a href="/group-fitness" class="btn btn-green">
                    Make me sweaty
                </a>
            </div>
        </p>
    </div>
    <div class="logo">
        <img src="/static/images/logo.png">
    </div>
</div>
<div class="home-extras">
    <div class="like-us">
        Like us on Facebook to connect with other sweaty people for inspiration and motivation.
        <a href="http://www.facebook.com/SweatItOutFitness" class="btn btn-primary">
            Like us on Facebook
        </a>
    </div>
    <div class="newsletter">
        Sign up for our newsletter to stay connected to monthly workout ideas and delicious recipes.
        <a href="http://eepurl.com/ofHY5" class="btn btn-pink">
            Get the Newsletter
        </a>
    </div>
    <div class="consultation">
        Book a free one-on-one personal training consultation with Emily or Jenna to maximize your results.
        <a href="/contact" class="btn btn-blue">
            Contact Us Now
        </a>
    </div>
    <div class="follow-us">
        Follow us on Twitter to connect and share ideas with sweaty folks around the world.
        <a href="http://twitter.com/SweatItOutFit" class="btn btn-primary">
            Follow us on Twitter
        </a>
    </div>
</div>
{% endblock %}
