{% extends "layout.html" %}

{% block content %}
<div class="welcome">
    <div class="mission">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            molestie neque eget libero cursus posuere. Aliquam vel purus purus,
            mattis ultrices dolor. Integer turpis orci, tincidunt pharetra
            egestas sit amet, dignissim id turpis. Donec sit amet elit sapien,
            eget mattis massa. Nam lacinia placerat dui at semper. Aenean
            hendrerit ipsum in libero egestas in congue sem consequat. Cras non
            nulla ut orci mollis commodo blandit non sapien. Suspendisse id
            neque nibh, ut pretium nulla. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Curabitur ac consequat purus. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
            Curabitur pulvinar velit vitae odio iaculis a ultrices enim tempus.
            Nulla non molestie lectus. Etiam in magna ante. Quisque blandit est
            vel elit malesuada pharetra. Integer vel nisl eget ipsum lacinia
            tincidunt. Donec tristique mattis congue. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Donec varius mollis magna porttitor scelerisque. Nunc
            placerat, tortor in interdum malesuada, est elit consectetur lacus,
            eu pulvinar nunc ligula ut sapien. Donec a purus metus, quis luctus
            nibh. Nam tempor, enim eget lacinia ultrices, ante urna egestas
            ante, vel tempor erat tellus vitae diam. Donec vel semper enim.
            Nulla sed felis velit. Nunc sodales, nulla ut congue convallis,
            massa mi euismod diam, at condimentum magna nibh vitae nisi. Nunc
            eget sapien lobortis turpis pulvinar mattis ac quis dolor. Mauris
            varius accumsan tortor, eu pellentesque velit eleifend ut.
        </p>
    </div>
</div>
{% endblock %}
