{% extends "layout.html" %}

{% block content %}
<div class="row instructors" id="instructors">
    <div class="instructor span4">
        <h2>Jenna</h2>
        <div class="instructor-photo">
            <img src="/static/images/Jenna.png">
        </div>
        <p>Jenna Hobson is a Certified Personal Trainer with a kinestheologu degree from the University of Manitoba Fitness Council. Jenna holds certifications in Group Fitness, Resistance Training and Yoga. She is currently attending the University of Manitoba Education program with the goal of becoming a Junior High Phys Ed teacher. Jenna is a long time member of the Rowdies rugby team and along with daily workouts she also plays recreational soccer and volleyball. Her passion for fitness is a huge part of her dailiy life and she brings this passion and expertise to her Group Fitness classes and personal training sessions.</p>
    </div>
    <div class="instructor span4">
        <h2>Emily</h2>
        <div class="instructor-photo">
            <img src="/static/images/Emily.png">
        </div>
        <p>Jenna Hobson is a Certified Personal Trainer with a kinestheologu degree from the University of Manitoba Fitness Council. Jenna holds certifications in Group Fitness, Resistance Training and Yoga. She is currently attending the University of Manitoba Education program with the goal of becoming a Junior High Phys Ed teacher. Jenna is a long time member of the Rowdies rugby team and along with daily workouts she also plays recreational soccer and volleyball. Her passion for fitness is a huge part of her dailiy life and she brings this passion and expertise to her Group Fitness classes and personal training sessions.</p>
    </div>
    <div class="instructor span4">
        <h2>Rachel</h2>
        <div class="instructor-photo">
            <img src="/static/images/Rachel.png">
        </div>
        <p>Jenna Hobson is a Certified Personal Trainer with a kinestheologu degree from the University of Manitoba Fitness Council. Jenna holds certifications in Group Fitness, Resistance Training and Yoga. She is currently attending the University of Manitoba Education program with the goal of becoming a Junior High Phys Ed teacher. Jenna is a long time member of the Rowdies rugby team and along with daily workouts she also plays recreational soccer and volleyball. Her passion for fitness is a huge part of her dailiy life and she brings this passion and expertise to her Group Fitness classes and personal training sessions.</p>
    </div>
</div>
{% endblock %}
