{% extends "layout.html" %}

{% block content %}
<div class="instructors">
    <h1 id="fitness-instructors">Fitness Instructors</h1>
    <div class="instructor">
        <h2>Jenna</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Jenna.jpg">
        </div>
        <div class="bio">Jenna Hobson is a Certified Personal Trainer with a Physical Education degree from the University of Manitoba. As a member of the Manitoba Fitness Council Jenna holds certifications in Group Fitness, Resistance Training and Yoga. She currently attends the University of Manitoba Education program with the goal of becoming a Junior High Phys Ed teacher. Jenna is a long time member of the Rowdies rugby team and along with daily workouts she also plays recreational volleyball. Her passion for fitness is a huge part of her daily life and she brings this passion and expertise to her group fitness classes and personal training sessions.</div>
        <div class="book-consultation">
            To book a free personal training consultation with Jenna Hobson email
            <a href="mailto:jenna@sweatitoutfit.com">jenna@sweatitoutfit.com</a>.
        </div>
    </div>
    <div class="instructor">
        <h2>Emily</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Emily-2014-04-08.jpg">
            <br>
            <small>Photo courtesy of Pink Elephant Photography and Design.</small>
        </div>
        <div class="bio">Emily Striemer is a Personal Training Specialist and Manitoba Fitness Council certified Yoga and Group Fitness Instructor. As a mom of two she understands the importance of finding time to squeeze a fitness routine into a demanding schedule. Between daily workouts and mom duties Emily brings high energy levels and passion for fitness to her personal training and group fitness classes.</div>
        <div class="book-consultation">
            To book a free personal training consultation with Emily Striemer email
            <a href="mailto:emily@sweatitoutfit.com">emily@sweatitoutfit.com</a>.
        </div>
    </div>
</div>
<div class="instructors">
    <h1 id="life-coaching">Life Coaching</h1>
    <div class="instructor instructor-single">
        <h2>Shana</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Shana.jpg">
        </div>
        <div class="bio">
            Shana Robinson is a young talented coach that is passionate about seeing others live their best life. She empowers her clients by honoring their stories and exploring the possibilities before them, as they transform into the person that they want to be. She brings a divers perspective to coaching that aligns with her out-going personality and sincere approach to each client and every session. Shana is bold, insightful and has a keen sense of self. She not only has the life experience but the backing of hands on field experience, theory and practice, making her a credible Coach. 
        </div>
        <div class="book-consultation">
            Book a complimentary 30 minute Insight session with Shana Robinson today! Align your goals with your results and start the journey to living your best life now! Email <a href="mailto:electricladycoaching@outlook.com">electricladycoaching@outlook.com</a> the possibilities are endless.
        </div>
        </div>
    </div>
{% endblock %}
