{% extends "layout.html" %}

{% block content %}
<div class="row instructors" id="instructors">
    <div class="instructor">
        <h2>Jenna</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Jenna.jpg">
        </div>
        <div class="bio">Jenna Hobson is a Certified Personal Trainer with a Physical Education degree from the University of Manitoba. As a member of the Manitoba Fitness Council Jenna holds certifications in Group Fitness, Resistance Training and Yoga. She currently attends the University of Manitoba Education program with the goal of becoming a Junior High Phys Ed teacher. Jenna is a long time member of the Rowdies rugby team and along with daily workouts she also plays recreational volleyball. Her passion for fitness is a huge part of her daily life and she brings this passion and expertise to her group fitness classes and personal training sessions.</div>
        <div class="book-consultation">
            To book a free personal training consultation with Jenna Hobson email
            <a href="mailto:jenna@sweatitoutfit.com">jenna@sweatitoutfit.com</a>.
        </div>
    </div>
    <div class="instructor">
        <h2>Emily</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Emily-2013-07-17.jpg">
            <br>
            <small>Photo courtesy of Chantelle Dione Photography.</small>
        </div>
        <div class="bio">Emily Striemer is a Personal Training Specialist and member of the Manitoba Fitness Council with certifications in Group Fitness and Yoga. As a mom of a one year old daughter she understands the importance of finding time to squeeze a fitness routine into a demanding schedule. Emily is a founding member of the Disc Ninjas ultimate team and Serves You Right volleyball team. Between daily workouts and mom duties Emily brings high energy levels and passion for fitness to her personal training and group fitness classes.</div>
        <div class="book-consultation">
            To book a free personal training consultation with Emily Striemer email
            <a href="mailto:emily@sweatitoutfit.com">emily@sweatitoutfit.com</a>.
        </div>
    </div>
    <div class="instructor">
        <h2>Megan</h2>
        <div class="instructor-photo">
            <img height="225" width="225" src="/static/images/Megan.jpg">
        </div>
        <div class="bio">Megan Friedheim is a CanFit Pro Personal Trainer, who is excited to guest star with Sweat It Out Fitness this Summer! Formerly the girl who had 100 excuses to get out of participating in PE class, would rather nap than run, and hated getting sweaty... She has since lost 35 pounds, discovered she could do "real" push-ups, and developed a love for Burpees. Megan is currently employed as a fitness coach at an all women's fitness facility and she has a huge passion for sharing ways to live a fit, healthy, and active lifestyle!</div>
        <div class="book-consultation">
            To book a free personal training consultation with Megan Friedheim email
            <a href="mailto:megan@sweatitoutfit.com">megan@sweatitoutfit.com</a>.
        </div>
    </div>
</div>
{% endblock %}
