<!doctype html>
<html>
    <head>
        <title>{% if page_title %}{{ page_title }} | {% endif %}Sweat It Out Fitness</title>
        <link rel="stylesheet/less" type="text/css" href="/static/styles/bootstrap/bootstrap.less">
        <link rel="stylesheet/less" type="text/css" href="/static/styles/main.less" media="all">
        <link rel="stylesheet/less" type="text/css" href="/static/styles/print.less" media="print">
        <script type="text/javascript" src="/static/scripts/less.js"></script>
        <script type="text/javascript" src="/static/scripts/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
        <script type="text/javascript">
            Stripe.setPublishableKey('pk_test_Mj84H94tNmV6zx7cSCBH2VUQ');
        </script>
    </head>
    <body{% if request.path == "/" %} class="home"{% endif %}>
        <div class="header">
            <div class="container">
                <a class="brand" href="/">Sweat It Out Fitness</a>
                <ul class="header-links">
                    {% for href, name in [["/", "Home"], ["/group-fitness", "Group Fitness"], ["/instructors", "Instructors"]]: %}
                    <li {% if href == request.path %}class="active"{% endif %}><a href="{{ href }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
