{% extends "layout.html" %}

{% block content %}
<h1>{{ page_title }}</h1>

<p>
    A well balanced diet, along with regular exercise, is an essential part of
    a healthy lifestyle. A Registered Dietician can help you maximize your
    results by giving you all of the information you need to make healthy
    choices a part of your every day life. Make the most of your workouts and
    treat your body right with Sweat It Out Fitness and Inspired Nutrition.
</p>

<h2>Kristy Leavitt, R.D.</h2>

<div class="row">
    <div class="nutritionist-bio">
        <p>
            Kristy Leavitt is a Registered Dietitian, registered with the
            College of Dietitians of Manitoba. Kristy completed her Bachelor of
            Science in Human Nutrition Sciences at the University of Manitoba
            and a dietetic internship with Manitoba Partnership Dietetic
            Education Program in Winnipeg, MB.
        </p>

        <p>
            In addition to Inspired Nutrition, Kristy has experience working in
            the areas of chronic disease prevention and management (primarily
            type 2 diabetes and cardiovascular disease), infant and child
            nutrition, and nutrition during pregnancy.
        </p>

        <p>
            An avid baker and cook, Kristy loves creating healthy, easy meals
            without sacrificing great taste.
        </p>

        <p>
            Kristy lives with her amazing husband Stephen in Winnipeg.
        </p>

        <div class="nutritionist-book-consultation">
            To schedule a consultation with Kristy visit her at
            <a href="http://www.inspirednutrition.ca">Inspired Nutrition</a>.
        </div>
    </div>
    <div class="nutritionist-photo">
        <img src="/static/images/Kristy.jpg">
    </div>
</div>
{% endblock %}
