{% extends "layout.html" %}

{% block content %}
<div class="program-design">
    <h1>Program Design</h1>
    <p class="blurb">
        Are you self-motivated and ready to get sweaty? Do you want the guidance of a trainer without paying for weekly one-on-one sessions? Check out Program Design to spice up your workouts and teach you to make food choices that will super charge your results! You provide our trainers with some basic information about your workout habits and goals, and we provide you with a take home workout that you can follow at the gym, at home or wherever you like to get sweaty! Monthly assessments keep you accountable and on track, and your trainer is available by email to offer support and motivation along the way.
    </p>
</div>
<div class="program-design-package-list">
    <div class="program-design-package">
        <div class="program-design-header">
            <h2>Get Sweaty</h2>
            <div class="program-design-price">
                <span class="program-design-dollars">$130</span> / month
            </div>
            <h3>Personal program</h3>
        </div>
        <ul class="program-design-features">
            <li>1 month commitment</li>
            <li>4 Week personalized exercise program</li>
            <li>Personalized eating guide</li>
            <li>Monthly accountability assessments</li>
            <li>Ongoing changes to program as needed</li>
            <li>Access to you trainer vie email and text</li>
        </ul>
    </div>
    <div class="program-design-package">
        <div class="program-design-header">
            <h2>Commit to Sweaty</h2>
            <div class="program-design-price">
                <span class="program-design-dollars">$100</span> / month
            </div>
            <h3>Personal program</h3>
        </div>
        <ul class="program-design-features">
            <li>3 month commitment</li>
            <li>4 Week personalized exercise program</li>
            <li>Personalized eating guide</li>
            <li>Monthly accountability assessments</li>
            <li>Ongoing changes to program as needed</li>
            <li>Access to you trainer vie email and text</li>
        </ul>
    </div>
    <div class="program-design-package">
        <div class="program-design-header">
            <h2>Sweaty Friends</h2>
            <div class="program-design-price">
                <span class="program-design-dollars">$75</span> / month per friend
            </div>
            <h3>Shared program</h3>
        </div>
        <ul class="program-design-features">
            <li>Share your program with a friend</li>
            <li>4 Week shared exercise program</li>
            <li>Personalized eating guide</li>
            <li>Monthly accountability assessments</li>
            <li>Ongoing changes to program as needed</li>
            <li>Access to you trainer vie email and text</li>
        </ul>
    </div>
</div>
<div class="row program-design-more-info">
    <button class="program-design-sign-up btn btn-blue btn-large">
        Make Me Sweaty!
    </button>
</div>
<p class="program-design-more-info">
    Need more information? Email <a href="mailto:info@sweatitoutfit.com">info@sweatitoutfit.com</a> and one of our fully certified trainers will get back to you right away!
</p>
{% endblock %}
