{% extends "layout.html" %}

{% block content %}
<div class="program-design">
    <h1>Program Design</h1>
    <p class="blurb">
        Are you self-motivated and ready to get Sweaty? Do you want the guidance of a trainer without paying for weekly one-on-one sessions? Check out Program Design to spice up your workouts and teach you to make food choices that will super charge your results! You provide our trainers with some basic information about your workout habits and goals, and we provide you with a take home workout that you can follow at the gym, at home or wherever you like to get Sweaty! Monthly assessments keep you accountable and on track, and your trainer is available by email to offer support and motivation along the way.
    </p>
</div>
<div class="program-design-package-info">
    <div>
        <ul>
            <li>4 Week Personalized monthly exercise program.</li>
            <li>Personalized Eating Guide to increase energy and results.</li>
            <li>Monthly accountability assessments.</li>
            <li>Ongoing changes to program as needed.</li>
            <li>Access to you trainer vie email and text.</li>
        </ul>
    </div>
</div>
<div class="program-design-package-list">
    <div class="program-design-package">
        <h2>1 Month</h2>
        <div class="program-design-price">$130.00 / month</div>
    </div>
    <div class="program-design-package is-promo">
        <h2>3 Months</h2>
        <div class="program-design-price">$100 / month</div>
    </div>
</div>
<div>
    <h2>Sweaty Friends Together Package</h2>
    <p>
        Getting Sweaty is more fun with friends! Add a friend onto any package for an additional $20 a month!
    </p>
    <p>
        Need more information? Email <a href="mailto:info@sweatitoutfit.com">info@SweatItOutFit.com</a> and one of our fully certified trainers will get back to you right away!
    </p>
</div>
{% endblock %}
