{% extends "layout.html" %}

{% block content %}
<h1>Thanks, See You Soon!</h1>

<p class="print-info">
    Here's what you signed up for, you may want to
    <a href="javascript:if(window.print)window.print();">print this page</a>
    for your records.
</p>

<div class="course">
    {% include "course.html" %}
</div>

<div class="receipt">
    <dl class="registration-receipt">
        <dt>Registration code</dt>
        <dd>{{ registration.code|upper }}</dd>
        <dt>Course</dt>
        <dd>{{ course.name }}</dd>
        <dt>First name</dt>
        <dd>{{ registration.first_name }}</dd>
        <dt>Last name</dt>
        <dd>{{ registration.last_name }}</dd>
        <dt>Email address</dt>
        <dd>{{ registration.email }}</dd>
        <dt>Phone number</dt>
        <dd>{{ registration.phone }}</dd>
    </dl>
    <dl class="payment-receipt">
        <dt>Payment method</dt>
        <dd>{{ registration.descriptive_payment_type }}</dd>
        <dt>Registration cost</dt>
        <dd>{{ course.cost|currency }}</dd>
        {% if registration.payment_type == "in_person" %}
        <dt>Payment options</dt>
        <dd>You may pay with cash, cheque or credit card at your first class.</dt>
        {% elif registration.payment_type == "paypal" %}
        <dt>PayPal account email</dt>
        <dd>{{ registration.paypal_email }}</dd>
        <dt>PayPal billing info</dt>
        <dd>You will be invoiced through PayPal using the email address above.</dd>
        {% endif %}
    </dl>
</div>
<script type="text/javascript">
    _gaq.push([
        '_addTrans',
        '{{ registration.code|upper }}',
        'Sweat It Out Fitness',
        '123.20',
        '13.20',
        '0',
        '',
        '',
        ''
    ]);
    _gaq.push([
        '_addItem',
        '{{ course.slug }}',
        "{{ course.name }}",
        '',
        '123.20',
        '1'
    ]);
    _gaq.push([
        '_addItem',
        'PAY-{{ registration.payment_type }}',
        '{{ registration.descriptive_payment_type }}',
        '',
        '0',
        '1'
    ]);
    _gaq.push(['_trackTrans']);
</script>
{% endblock %}
